/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

*,
h1 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: inter;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}
.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 100%;
  max-width: 1200px;
  padding: 0rem 5rem;
  position: relative;
}

.title {
  font-size: 3rem;
  font-weight: 800;
}

@media (max-width: 1200px) {
  .title {
    font-size: 2.8rem;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 2.2rem;
  }
}
@media (max-width: 900px) {
  .main-container {
    padding: 0rem 2rem;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
  .main-container {
    padding: 0 1.3rem;
  }
}
