.hero-section {
  height: 100vh;
  background-image: url("../content/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  color: white;
  font-weight: 900;
  font-size: 6rem;
  text-wrap: nowrap;
}
.hero-subtitle {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  all: unset;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  margin: 2rem 1rem;
}
.left {
  background-color: #ff7315;
  color: black;
}
.right {
  background-color: rgba(0, 0, 0, 0.479);
  box-shadow: inset 0 0 0 3px #ff7315;
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 1000px) {
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 1.7rem;
  }
  .hero-subtitle {
    font-size: 0.8rem;
  }
  .btn {
    margin: 1rem 0.5rem;
  }
}
